NODE_ENV=development

API_PORT=3001
WEB_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/studybase?schema=public
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=studybase-api
KAFKA_GROUP_ID=studybase-group
KAFKA_CHAT_TOPIC=chat.messages

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=studybase
KEYCLOAK_CLIENT_ID=studybase-api,studybase-web
KEYCLOAK_CLIENT_SECRET=change-me

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=studybase
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=studybase-web
